services:
  db:
    image: postgres:18
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: faq_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d faq_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  migrate:
    image: ghcr.io/kukymbr/goose-docker:latest
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./migrations:/migrations
    environment:
      GOOSE_DRIVER: postgres
      GOOSE_DBSTRING: postgres://postgres:postgres@db:5432/faq_db?sslmode=disable
    command: ["up"]

  api:
    build: .
    depends_on:
      migrate:
        condition: service_completed_successfully
    environment:
      DB_HOST: db
      DB_PORT: "5432"
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: faq_db
      DB_SSLMODE: disable
      DB_TIMEZONE: UTC
      HTTP_ADDR: ":8080"
    ports:
      - "8080:8080"

volumes:
  db_data:
